<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container-fluid main-container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="../../assets/images/test.jpeg" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-12">
                            <div class="mt-4 pt-2 text-right">
                                <button class="btn btn-dark btn-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-backdrop-dark">Read More</button>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->

                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="../../assets/images/337_450.jpeg" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="../../assets/images/600_401.jpeg" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end col-->

        <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
            <div class="section-title ml-lg-5">
                <h5 class="text-custom font-weight-normal mb-3">About Us</h5>
                <h4 class="title mb-4">
                    Whatever the occasion,
we've got a beautiful piece of jewellery for you. <br />
                </h4>
                <p class="text-muted mb-0">
                    Dwarika Jewellers Private Limited is a leading bullion dealer having its registered office at Kolkata (West Bengal) - India and corporate office at Jodhpur (Rajasthan) and branch offices at Ahmadabad, Kolkata. Jaipur and Raipur. When Govt. of India liberalized import of Gold / Silver through nominated agencies and Banks, we have laid a thrust in the Bullion market in India. Now we are adjudged as the growing Bullion dealer in India. We have an irreproachable track record with various Bullion banks, nominated agencies and foreign suppliers.
                </p>

                <div class="row">
                    <div class="col-lg-6 mt-4 pt-2">
                        <div class="media align-items-center rounded shadow p-3">
                            <i class="fas fa-file-signature h4 mb-0 text-custom"></i>
                            <h6 class="ml-3 mb-0"><a class="text-dark"data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Hallmarked</a></h6>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 pt-2">
                        <div class="media align-items-center rounded shadow p-3">
                            <i class="fas fa-gem h4 mb-0 text-custom"></i>
                            <h6 class="ml-3 mb-0"><a href="javascript:void(0)" class="text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Top Quality Gems</a></h6>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 pt-2">
                        <div class="media align-items-center rounded shadow p-3">
                            <i class="fas fa-praying-hands h4 mb-0 text-custom"></i>
                            <h6 class="ml-3 mb-0"><a class="text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Best Customer Service</a></h6>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 pt-2">
                        <div class="media align-items-center rounded shadow p-3">
                            <i class="fas fa-rupee-sign h4 mb-0 text-custom"></i>
                            <h6 class="ml-3 mb-0"><a href="javascript:void(0)" class="text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Best Prices</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--enr row-->
</div>
<!--MODAL-->
<div class="page-content page-container" id="page-content">
    <!-- <div class="padding">
        <div class="row container d-flex justify-content-center"> -->
                <div id="modal-backdrop-dark" class="modal bg-dark fade" data-bs-backdrop="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title text-md"> <strong>About Us</strong></div> 
                                <!-- <button class="close" data-bs-dismiss="modal">&times;</button> -->
                            </div>
                            <div class="modal-body">
                                <div class="p-4 text-center">
                                    <p>
                                        Our diamonds are elevated in jewellery designs that light up life’s most memorable occasions as well as its everyday moments, igniting a spark in the wearer and encouraging them to live life to their full potential. Our designs are modern, clean, distinctive yet never overly ornate. They are timeless with a twist, and the diamond is the hero of each piece.
                                    </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>  -->
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button></div>
                        </div>
                    <!-- </div>
                </div> -->
        </div>
    </div>
</div>
<!--OFFCANVAS-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <!--OFF CANVAS BODY-->
      <h3 id="offcanvasRightLabel">Our Commitment to Quality</h3>
      <div class="row">
        <div class="col-lg-6 mt-4 pt-2">
            <div class="media align-items-center rounded shadow p-3">
                <i class="fas fa-file-signature h4 mb-0 text-custom"></i>
                <h6 class="ml-3 mb-0"><a class="text-dark">Hallmarked</a></h6>
                <p>
                    You get genuine Hallmark certificate from our vendors along with every purchase.
                </p>
            </div>
        </div>
        <div class="col-lg-6 mt-4 pt-2">
            <div class="media align-items-center rounded shadow p-3">
                <i class="fas fa-gem h4 mb-0 text-custom"></i>
                <h6 class="ml-3 mb-0"><a class="text-dark">Top Quality Gems</a></h6>
                <p>
                    Our Products are known for the best quality.
                    <i>find a defect in our product and get your<strong>100%</strong>money back</i>
                </p>
            </div>
        </div>
        <div class="col-lg-6 mt-4 pt-2">
            <div class="media align-items-center rounded shadow p-3">
                <i class="fas fa-praying-hands h4 mb-0 text-custom"></i>
                <h6 class="ml-3 mb-0"><a class="text-dark">Best Customer Service</a></h6>
                <p>
                    We are ranked <strong>No.1</strong> in Customer Service
                    by <strong>NCAP foundation</strong>
                </p>
            </div>
        </div>
        <div class="col-lg-6 mt-4 pt-2">
            <div class="media align-items-center rounded shadow p-3">
                <i class="fas fa-rupee-sign h4 mb-0 text-custom"></i>
                <h6 class="ml-3 mb-0"><a class="text-dark">Best Prices</a></h6>
                <p>
                    We provide the best quality products at affordable prices.
                </p>
            </div>
        </div>
  </div>
</div>